<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>HSR Waiting Period</title>
</head>
<style>
  #hsr{width:300px;height:50px;}
</style>
<body>

<!-- <div class="container d-sm-inline p-5"> -->
<div class="row p-5">
  <div class="col-md-6 offset-md-3">
  <div class="row justify-content-center">
    <h1>HSR Filing Date</h1><br>
  </div>
  <div class="row justify-content-center pt-3">
    <form method="POST" action="/">
      <input class="form-control form-control-lg" type="date"
       id="hsr" name="hsr" placeholder="mm/dd/yyyy">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>

  {% if show_messages %}
    <div class="row justify-content-center pt-5">
      <h4> Filing date </h4><br>
    </div>
    <div class="row justify-content-center">
      <h2> {{ start_date|safe }} </h2>
    </div>
    <div class="row justify-content-center pt-2">
      <h4> End of waiting period </h4>
    </div>
    <div class="row justify-content-center">
      <h2> {{ end_date|safe }} </h2>
    </div>

    <div class="row justify-content-center pt-5">
      {% if shift_days == 0 %}
        <h4> There are no shifts due to weekends or holidays. </h4>
      {% else %}
        <h4> The end date is shifted by {{ shift_days_str|safe }} because: </h4>
      {% endif %}
    </div>
    {% if shift_days > 0 %}
      <div class="row justify-content-center">
        <ul>
        {% for conflict in conflicts %}
          <li>
            <h5> {{ conflict|safe }} </h5>
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endif %}
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
